.radialGroup {
  display: block;
}

/* .radialGroup input {
  margin-right: -20px;
} */

.radialGroup label {
  margin-right: 20px;
  color: rgb(13, 33, 219);
}

.radials {
  width: 100% !important;
  margin: auto;
  display: block;
}

.label {
  margin-right: 20%;
}
