.spacer {
  height: 1px;
  margin-top: 50px;
}

.card {
  text-align: center;
  background-color: rgb(185, 117, 159);
  padding-top: 2%;
  margin-bottom: 4%;
}

.title {
  color: azure !important;
}

.formContainer {
  margin-top: 2%;
  background-color: rgb(233, 183, 191);
  padding-top: 20px;
}

.selectLeft,
.description {
  width: 90% !important;
  margin: auto !important;
}

.selectLeft {
  width: 100% !important;
  margin: 0 !important;
  text-align: center !important;
}

.selectors {
  width: 90%;
  margin: auto;
}

.description {
  display: block !important;
  width: 100% !important;
}

.instructionsDiv {
  text-align: left !important;
  width: 100%;
  margin: auto;
  justify-content: center !important;
  justify-items: center !important;
}

.labelDiv {
  width: 90% !important;
  margin: auto;
}

.instructionsLabel {
  margin-top: 1rem;
  /* text-align: left !important; */
}

.radials {
  width: 80% !important;
  margin: 3% auto 3% auto;
}

.postButton {
  width: 30%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: darkmagenta !important;
}

@media screen and (max-width: 385px) {
  .postButton {
    width: 40%;
  }
}
