.smPop:hover {
  width: 110%;
}

.mdPop:hover {
  width: 125%;
}

.lgPop:hover {
  width: 150%;
}

.pop {
  cursor: inherit;
}

.pop:hover {
  transition: all .1s ease-in;
  transform: scale(1.05);
  border: none;
}
