.ingredientsDiv {
  display: block !important;
  width: 100% !important;
  margin: auto !important;
}

.table {
  width: 80%;
  margin: auto;
  border-style: solid !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.tableIngredient {
  border-style: solid;
  text-align: left;
}

.tablePrice {
  border-style: solid;
  text-align: left;
}

.th {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

.labelDiv {
  width: 100%;
  margin: auto;
  text-align: left;
}

.mainLabel {
  text-align: left !important;
}

.button {
  background-color: cyan !important;
  color: black;
}

.tdI {
  margin-left: 2%;
}

.tdP {
  margin-right: 2%;
}

.fixCol {
  padding: 0 !important;
  margin: 0 !important;
}

.ingredientSelectContainer {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: baseline !important;
  height: 100px !important;
}

/* .verticalCenter {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

.pDiv {
  display: inline-flex;
}

.p {
  margin: 0;
  padding: 0;
}

.selectDiv {
  box-sizing: inline;
  display: inline !important;
  position: relative;
  vertical-align: top;
  height: 50px;
}
