/* .prev,
.next {
  font-size: 4rem !important;
} */

.arrow {
  font-size: 4rem;
  color: white;
  text-align: center !important;
}

.prevDiv,
.nextDiv {
  display: flex !important;
  background-color: inherit;
  align-items: center;
}

.prevDiv {
  float: left;
}

.nextDiv {
  float: right;
}

.prev {
  text-align: left;
}

.next {
  text-align: right;
}

.all {
  display: inline-flex !important;
  background-color: inherit;
  width: 100%;
  align-content: center;
  flex-direction: row-reverse;
  flex-basis: 100%;
  flex-shrink: 0;
}

.buttonContainer {
  display: flex !important;
  width: 100%;
  flex-basis: fill !important;
  flex-basis: 100% !important;
  flex-shrink: 0 !important;
}

.hidden {
  display: none;
}
