.frosty {
  margin: 0;
  padding: 0;
  background: inherit;
  /* position: absolute;
  position: absolute; */
  overflow: hidden;
  z-index: 5;
}

.frosty:before {
  content: “ ”;
  background: inherit;
  /* position: absolute; */
  box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
  filter: blur(10px);
  z-index: 5;
}
