.card {
  border-width: 4px;
  border-radius: 12px;
  padding: 4px;
  padding-top: 0 !important;
}

.show {
  width: inherit;
  margin: 0;
  padding: 0;
  border-style: solid;
  background-color: rgb(233, 217, 155);
  border-color: rgb(233, 217, 155);
  border-width: 1px;
  border-radius: 8px;
  height: 50px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
}

.table {
  width: 100%;
  max-width: 100% !important;
  text-align: left !important;
  overflow-x: scroll;
  table-layout: fixed;
  border: none;
}

.th1 {
  width: 7%;
}

.line {
  width: 8%;
}

.ingredientTh {
  width: 35%;
}

.priceTh {
  width: 15%;
  overflow-x: hidden !important;
  white-space: normal !important;
}

.amountTh {
  width: 15%;
  overflow-x: hidden !important;
  white-space: normal !important;
}

.bottom {
  width: 30%;
  font-size: larger;
}

.totals {
  max-width: 5% !important;
}

.table2 {
  margin-top: 3%;
}

.text {
  font-size: 12px;
}
.main {
  text-align: center;
}

.actionDiv {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20%;
}

.printDiv {
  display: inline;
  text-align: left;
  float: left;
}

.buttonDiv {
  display: inline;
  text-align: right;
  float: right;
}

.getNew {
  height: 50px;
  width: max-content;
  padding-left: 8px;
  padding-right: 8px;
  margin: 10px;
  margin-right: 20px;
  background-color: pink;
  border-style: solid;
  border-color: grey;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

@media screen and (max-width: 300px) {
  .ingredientTh,
  .line,
  .amountTh,
  .priceTh {
    font-size: small !important;
  }

  .ingredientTh {
    width: 20% !important;
    margin-right: 1% !important;
    padding-right: 1% !important;
  }
}

.none {
  text-align: left;
}

@media print {
  /* All your print styles go here */
  .hideForPrint {
    display: none !important;
  }
}
