.signup {
  margin: 5% 10%;
  padding: 2%;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  padding: 1rem;
}

.button {
  text-align: center;
  display: block;
  width: 80%;
  max-width: 12rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.726) !important;
}

.errorText {
  color: red;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
