.ingredientsDiv {
  width: 100%;
  background-color: whitesmoke;
}

.title {
  text-align: left;
  color: red;
  margin-left: 2%;
}

.ingredients {
  text-align: center;
}

.ingredient {
  text-align: left;
  margin-left: 10%;
  color: black;
}

@media screen and (width: 768px) {
  .title {
    margin-left: 4%;
  }
}
