.mealListInnerDiv {
  background-color: green;
}

.sectionDiv {
  margin-top: 5%;
}

.dishMainDiv {
  background-color: red;
  width: 90%;
  margin-bottom: 40px;
}

.dishSideDiv {
  background-color: blue;
  width: 80% !important;
  margin-bottom: 40px;
}
