.space {
  margin: 0 !important;
  padding: 0 !important;
  border-style: none;
}

.p {
  /* box-shadow: 8px 2px 8px rgba(0, 0, 0, 0.25); */
  white-space: nowrap !important;
  background-color: white;
  margin: 0 !important;
}

.td {
  overflow-x: hidden !important;
  white-space: normal !important;
}

.th {
  overflow-x: hidden !important;
  white-space: normal !important;
}

.number {
  text-align: right;
  justify-self: right;
  justify-content: right;
}

.p:hover {
  white-space: normal;
}

.price {
  width: 8% !important;
}
