.buttonContainer {
  display: block !important;

  margin-bottom: 50px;
}

.buttonDelete {
  float: right !important;
  width: 35% !important;
}

.buttonEdit {
  float: left !important;
  width: 35% !important;
}

.buttonEdit,
.buttonDelete {
  background-color: darkmagenta !important;
  width: 50px;
}

.buttonContainer {
  margin-top: 50px !important;
  display: block;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .buttonDelete,
  .buttonEdit {
    width: 40% !important;
  }
}
