.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}

.main2 {
  width: 100%;
}

/* .validateDiv {
  width: 100%;
} */

.button {
  height: 50px;
  border-radius: 5px;
  width: fit-content;
  max-width: 100%;
}


.inputLabel {
  width: 100%;
  padding-right: 20px;
}

.inputLabel2 {
  width: 100%;
}

.inputButton {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 10%;
}
