.mealListInnerDiv {
  background-color: green;
}

.sectionDiv {
  margin-top: 5%;
}

.dishMainDiv {
  background-color: red;
  width: 90%;
  margin-bottom: 40px;
}

.dishSideDiv {
  background-color: blue;
  width: 80% !important;
  margin-bottom: 40px;
}

.dayDiv {
  background-color: pink;
}

.day {
  text-align: center;
}

.mealDiv {
  background-color: none;
}

.meal {
  text-align: left;
}

.entreeClass {
  background-color: indianred;
}

.entreeClass2 {
  background-color: bisque;
}

.sideClass {
  background-color: goldenrod;
}

.sideClass2 {
  background-color: bisque;
}

.dishType {
  text-align: right;
}
