.bottom {
  display: flex;
  position: relative;
  width: 100%;
  bottom: 0;
  
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  width: 100%;  
  background-color: black;
  color: white;
  flex-wrap: wrap;
  border-radius: 8px;
  /* padding: 0; */
  padding: 3% 0 2% 0;
  margin: 0;
  
  justify-content: space-evenly;
}

.buttonDiv {
  display: flex;
  }

.break {
  flex-basis: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.date {
  background-color: black;
  width: 100%;
  font-size: smaller;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.dateDiv {
  justify-self: flex-end;
  justify-items: flex-end;
  padding: auto;
  margin: auto;
}

.iconClass {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 8px;
}

.iconDiv {
  width: 60%;
  background-color: transparent;
  vertical-align: middle !important;
  padding: 0;
  margin: 0;
}

.iconDiv:hover {
  color: red;
}

.line {
  color: rgb(98, 218, 18);
}

.phone {
  color: black;
}

.facebook {
  color: rgba(21, 73, 245, 0.926);
}

.buttonContainer {
  width: 3rem;
  height: 3rem;
}

.copyrightDiv {
  width: 100%;
}
