.addIngredientDiv {
  width: 100% !important;
  justify-content: baseline !important;
  text-align: center;
  margin: auto;
  padding: 5% !important;
}

.ingredientInput,
.priceInput,
.label {
  width: 100% !important;
}

.addButton {
  width: 60px !important;
  border-radius: 9px;
  padding: auto !important;
  height: 60% !important;
  margin: auto !important;
}

.priceText {
  text-align: center;
}

.ingredientText {
  text-align: center;
}
