@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw !important;
}

body {
  margin-top: 2px;
  min-height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: auto;
  background-color: #e7e6e1;
  color: black;
  font-weight: bolder;
  padding-left: 1%;
  padding-right: 1%;
}

.form-select2 {
  margin: 0 !important;
}

#number {
  width: 100%;
}


div.row {
  margin: 0;
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #333;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

a:hover {
  cursor: pointer !important;
}

.hidden {
  display: none !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

a:visited {
  text-decoration: none !important;
}

.modal,
.modal-backdrop {
  width: 100vw !important;
}

@media only screen and (min-width: 768px) {
  .show {
    justify-content: center !important;
    text-align: center !important;
  }
  .dropdown-menu {
    text-align: center !important;
    background-color: aliceblue !important;
  }
  .dropdown {
    margin-left: -20px;
    margin-right: 16px;
  }
}

@media only screen and (max-width: 991) {
  a {
    align-self: center !important;
  }
  .navbar-nav,
  .me-auto {
    align-items: center !important;
  }

  .navbar.center .navbar-inner {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .dropdown-toggle {
    justify-content: center !important;
    text-align: center !important;
    align-self: center !important;
  }




  .show {
    display: block;
    width: 100% !important;
    margin: auto !important;
    text-align: center !important;
  }

  .dropdown-menu.show {
    /* width: 50% !important; */
    margin-left: 25% !important;
  }

  /* The Actual Button */
  .navbar-toggler {
    margin-left: auto;
  }

  /* The Div containing the collapsable links */
  .navbar-collapse {
    text-align: center !important;
  }
}


div._next {
  margin: 0 !important;
  padding: 0 !important;
}